body {
    margin: 0;
    font-family: "Arial", serif;
}

header {
    margin: 20px;
}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
}

.name {
    font-size: 24px;
    letter-spacing: 1px;
    color: #bfbfbf;
    text-transform: uppercase;
    font-weight: bold;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    list-style: none;
    background-color: #2a3644;
}

.top-menu>li {
    border-left: 1px solid #3f4852;
}

.top-menu>li {
    border-right: 1px solid #3f4852;
}

.top-menu>li>a,
.top-menu2>li>a {
    display: block;
    padding: 13.30px 30px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.nav {
    display: table;
    width: 100%;
}

.top-menu2 {
    display: table-row;
    padding: 0;
    list-style: none;
    background-color: #2a3644;
}

.top-menu2>li {
    display: table-cell;
    border-right: 1px solid #3f4852;
}


.in-menu,
.in-menu2 {
    position: absolute;
    display: none;
    width: 210px;
    padding: 5px 0;
    list-style: none;
}

.in-menu2-in,
.in-menu2-in-in {
    position: absolute;
    display: none;
    padding: 0 5px;
    top: 0;
    width: 210px;
    list-style: none;
}

.in-menu2-in {
    left: 100%;
}

.in-menu2-in-in {
    right: 100%;
}

.in-menu li,
.in-menu2 li,
.in-menu2-in li,
.in-menu2-in-in li {
    position: relative;
    background-color: #d2d4d5;
    text-align: left;
}
.in-menu li:not(:last-child),
.in-menu2 li:not(:last-child),
.in-menu2-in li:not(:last-child),
.in-menu2-in-in li:not(:last-child) {
    border-bottom: 1px solid #b9bdc1;
}
.top-menu>li:hover>a,
.top-menu2>li:hover>a {
    color: #fd8612;
    background-color: #3f4852;
}

.in-menu>li:hover>a,
.in-menu2>li:hover>a,
.in-menu2-in>li:hover>a,
.in-menu2-in-in>li:hover>a {
    color: #ff8505;
    background-color: #2a3644;
}

.top-menu>li:hover>.in-menu,
.top-menu2>li:hover>.in-menu2,
.in-menu2>li:hover>.in-menu2-in,
.in-menu2-in>li:hover>.in-menu2-in-in {
    display: block;
}

.in-menu a,
.in-menu2 a,
.in-menu2-in a,
.in-menu2-in-in a {
    display: block;
    padding: 10px 19px;
    font-size: 15px;
    color: #2a3644;
    font-weight: bold;
    text-decoration: none;
}



.table {
    width: 960px;
    margin: 40px 0;
    border-collapse: collapse;
}

.thead th {
    background-color: #2a3644;
    padding: 10px 23px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}


.tbody {
    background-color: #e8e8e8;
}

td {
    padding: 13px 23px;
    font-size: 16px;
    color: #2a3644;
}

.thead tr:first-child th:nth-child(2),
.thead-css:first-child b:nth-child(2) {
    text-align: left;
}

.thead,
.thead-css {
    text-align: center;
}

.thead tr:not(:last-child) {
    border-bottom: 1px solid #3f4852;
}

.thead th:not(:last-child),
.table-css b:not(:last-child) {
    border-right: 1px solid #3f4852;
}

.tbody tr:not(:last-child),
.tbody-css:not(:last-child) {
    border-bottom: 1px solid #c0c1c2;
}

.tbody td:not(:last-child),
.table-css i:not(:last-child) {
    border-right: 1px solid #c0c1c2;
}

.tbody tr:nth-child(odd),
.tbody-css:nth-child(odd) {
    background-color: #f2f2f2;
}

.tbody td:first-child,
.tbody-css i:first-child {
    width: 5%;
    text-align: center;
}

.tbody td:nth-child(2),
.tbody-css i:nth-child(2) {
    width: 50%;
    text-align: left;
}

.tbody td:nth-child(n+3),
.tbody-css i:nth-child(n+3) {
    text-align: right;
}

.tbody tr:hover,
.tbody-css:hover {
    background-color: #c0c1c2;
}

tr:first-child>th:first-child,
.thead-css:first-child>b:first-child {
    border-radius: 3px 0 0 0;
}

tr:first-child>th:last-child,
.thead-css:first-child>b:last-child {
    border-radius: 0 3px 0 0;
}

tr:last-child>td:last-child,
.tbody-css:last-child>i:last-child {
    border-radius: 0 0 3px 0;
}

tr:last-child>td:first-child,
.tbody-css:last-child>i:first-child {
    border-radius: 0 0 0 3px;
}

.table-css {
    display: table;
    width: 960px;
    margin: 40px 0;
    border-collapse: collapse;
}

.table-css p {
    display: table-row;
    margin: 0;
    font-size: 16px;
    background-color: #e8e8e8;
}


.table-css b {
    display: table-cell;
    padding: 13px 23px;
    font-size: 16px;
    background-color: #2a3644;
    color: #fff;
}


.table-css i {
    display: table-cell;
    padding: 13px 23px;
    font-size: 16px;
    color: #2a3644;
    font-style: normal;
}